@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #2563eb;
  --rdp-background-color: #e0e7ff;
  margin: 0;
}

.rdp-day_selected, 
.rdp-day_selected:focus-visible, 
.rdp-day_selected:hover {
  background-color: var(--rdp-accent-color);
  color: white;
}